.content-card-feature {
    background-color: #D3BAA7;
    width: 200px;
    border-style: groove;
    margin-top: 3%;
    border-radius: 15px;
    color: #1B2631;
    text-align: center;
}

.content-card-feature:hover {
    cursor: pointer;
}

.imagen-feature {
    width: 100%;
}

.imagen-feature:hover {
    transform: scale(1.1);
    transition: transform 10s cubic-bezier(0.30, 0.45, 0.45, 0.95);
}

.content-information-feature {
    height: 150px;
}

.name-feature {
    margin-top: 0;
    border-color: #616A6B;
}

.name-feature:hover {
    color: #FF7000;
}

.price-feature {
    color: #616A6B;
    font-size: medium;
}

.slug-feature {
    font-weight: 200;
}